.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

 
  
  .footer-text {
    background-color: rgba(0, 0, 0, 0.2);
  }


.social-icon {
    margin-top: 10px;
}


.social-button {
    width: 40px; /* Ajustez la largeur des boutons selon vos besoins */
    height: 40px; /* Ajustez la hauteur des boutons selon vos besoins */
    border-radius: 5px;
}
.a{
  text-decoration: none;
  color: white;
}


.social-button:hover .social-icon {
    transform: scale(1.5); /* Supprimez l'échelle au survol */
}

.bg-image:hover {
    transform: scale(1.1); /* Agrandit légèrement l'image au survol */
}
